<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title mb-3">Thông tin tài khoản</strong>
                        </div>
                        <div class="card-body">
                            <div class="mx-auto d-block">
                                <img class="rounded-circle mx-auto d-block" data-toggle="modal"
                                    data-target="#changeAvatar" src="avatars/{{profile.local.info.avatar}}" alt="Avatar"
                                    style="width:200px;height:200px;">
                                <h5 class="text-sm-center mt-2 mb-1">{{profile.local.info.fullname}}</h5>
                                <div class="location text-sm-center">
                                    <i class="fa fa-map-marker"></i>
                                    {{profile.local.info.address}}
                                </div>
                                <div class="location text-sm-center">
                                    <i class="fas fa-mobile-alt"></i>
                                    {{profile.local.info.phone}}
                                </div>

                                <div class="location text-sm-center">
                                    <i class="fas fa-birthday-cake"> </i>
                                    aaaaaaaaaaa
                                </div>


                            </div>

                        </div>
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title mb-3">Danh sách đơn hàng</strong>
                            </div>
                            <div class="row card-body">

                                <div class="row">
                                    <div class="col-md-4">Mô tả:</div>
                                    <div class="col-md-8">{{product.moTaSanPham}}</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>