<!DOCTYPE html>
<html lang="en">

<head>

    {{> elements/head_tag}}
</head>

{{!-- {{#ifCond isLogin '==' true}} --}}
{{#ifCond currentUser '!=' undefined}}
<body onload="updateCart(); 
            if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
}
">
{{else}}
<body onload="loadGioHang(); ">
{{/ifCond}}

    <!-- ================ start banner area ================= -->
    <section class="blog-banner-area" id="category">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>Shopping Cart</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ end banner area ================= -->



    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Sản Phẩm</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Số Lượng</th>
                                <th scope="col">Tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{!-- {{#ifCond isLogin '==' true}} --}}
                            {{#ifCond currentUser '!=' undefined}}
                            {{#each cartData}}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="{{hinh}}" alt="Hình sản phẩm">
                                        </div>
                                        <div class="media-body">
                                            <p>{{ten}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5 class="price">VND {{gia}}</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="number" name="qty" id="sst" min="1" value="{{soLuong}}"
                                            title="Quantity:" class="input-text qty">
                                    </div>
                                </td>
                                <td>
                                    <h5 class="total"></h5>
                                </td>

                                <td>
                                    <form action="/users/mua_hang/gio_hang" method="post">
                                        <input name="iddeletedcart" type="text" style="display: none" />
                                        <button type="submit" onclick="
                                            this.parentNode.firstElementChild.value = '{{_id}}';
                                            return true;
                                        "><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </form>
                                </td>
                                
                            </tr>
                            {{/each}}
                            {{/ifCond}}
                            {{!-- <tr>
                              <td>
                                  <div class="media">
                                      <div class="d-flex">
                                          <img src="img/cart/cart1.png" alt="">
                                      </div>
                                      <div class="media-body">
                                          <p>Mô tả cái gì đó</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                  <h5>VND 360.00</h5>
                              </td>
                              <td>
                                  <div class="product_count">
                                      <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:"
                                          class="input-text qty">
                                      <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                          class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                      <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                          class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                  </div>
                              </td>
                              <td>
                                  <h5>VND 720.00</h5>
                              </td>
                          </tr> --}}


                            <tr class="bottom_button">
                                <td>
                                <a class="button" href="#" onclick="updateCart(); return false;">Update Cart</a>
                                </td>
                                <td>
                                </td>
                                <td>

                                </td>
                                <td>
                                </td>
                                <td>
                                    <div class="cupon_text d-flex align-items-center">                                  
                                        <a class="primary-btn" href="/users/mua_hang/ket_qua_thanh_toan">Thanh Toán</a>                                    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <h5>Tổng Tiền</h5>
                                </td>
                                <td>
                                    <h5 class="total-price"></h5>
                                </td>
                            </tr>
                           			
                            
                        </tbody>
                    </table>
                    	
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->

<script></script>
    {{> elements/footers}}


    {{> elements/body_script}}

</body>

</html>