<!-- MAIN CONTENT-->
<div class="main-content">
    <!-- BREADCRUMB-->

    <!-- END BREADCRUMB-->

    <section>
        <div class="section__content ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <!-- USER DATA-->
                        <div class="user-data m-b-40">
                            <h3 class="title-3 m-b-30">
                                <i class="zmdi zmdi-account-calendar"></i>Danh sách đơn hàng</h3>
                            <div class="filters m-b-45">
                                <div class="row justify-content-end">


                                </div>
                            </div>
                            <div class="table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td></td>
                                            <td>Mã đơn hàng</td>
                                            <td>Tổng tiền</td>
                                            <td>Số lượng sản phẩm</td>
                                            <td>Tình trạng</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      {{#each listOrder}}
                                        <tr>
                                            <td></td>
                                            <td>{{_id}}</td>
                                            <td>{{tongTien}}</td>
                                            <td>{{soLuong}}</td>
                                            <form action="/update_status_order/5e1422a11c9d44000076cc6a" method="POST">
                                                <td>
                                                    <div class="form-group">
                                                        <select  class=" form-control" name="orderStatus">
                                                            <option {{selectedStatus 'Chờ xử lý' tinhTrang}} >Chờ xử lý</option>
                                                            <option {{selectedStatus 'Đang giao' tinhTrang}}>Đang giao</option>
                                                            <option {{selectedStatus 'Đã giao' tinhTrang}}>Đã giao</option>
                                                            <option {{selectedStatus 'Hủy đơn hàng' tinhTrang}}>Hủy đơn hàng</option>
                                                        </select>

                                                    </div>
                                                </td>

                                                <td><button type="submit" class="btn btn-primary">Cập nhật</button> </td>
                                            <form>

                                        </tr>
                                      {{/each}} 

                                    </tbody>
                                </table>
                            </div>

                            <div class="user-data__footer">
                                {{>elements/pagination}}
                                {{!-- <button class="au-btn au-btn-load">Xêm thêm</button> --}}
                            </div>
                        </div>
                        <!-- END USER DATA-->
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>