<!-- MAIN CONTENT-->
<div class="main-content">
    <!-- BREADCRUMB-->

    <!-- END BREADCRUMB-->



    <section>
        <div class="section__content ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <!-- USER DATA-->
                        <div class="user-data m-b-40">
                            <h3 class="title-3 m-b-30">
                                <i class="zmdi zmdi-account-calendar"></i>Danh sách sản phẩm</h3>
                              <div class="filters m-b-45">
                                <div class="row justify-content-end">
                                    
                                      <button class="btn btn-success" data-toggle="modal" data-target="#addProduct">Thêm sản phẩm</button>
                                </div>
                            </div>
                            <div class="table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td></td>
                                            <td>Tên Sản Phẩm</td>
                                            <td>Giá</td>
                                            <td>Số lượng</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each listProduct}}
                                            <tr>
                                                <td></td>
                                                <td>{{tenSanPham}}</td>
                                                <td >{{giaSanPham}}</td>
                                                <td>{{soLuongSanPham}}</td>
                                                <td><a href="/product/{{_id}}"><button class="btn btn-success">Xêm thêm</button></a></td>
                                                <td><form action="/delete_product/{{_id}}" method="POST"><button type="submit" class="btn btn-danger">Xóa</button></a></form></td>
                                            </tr>
                                        {{/each}}

                                    </tbody>
                                </table>
                            </div>

                            <div class="user-data__footer">
                                {{>elements/pagination}}
                                {{!-- <button class="au-btn au-btn-load">Xêm thêm</button> --}}
                            </div>
                        </div>
                        <!-- END USER DATA-->
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>



<div class="modal fade" id="addProduct">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
                <form action="/addProduct" method="POST">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Tùy chỉnh thông tin sản phẩm</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body ">
                
                    <div class="row form-group">
                        <div class="col col-md-4">
                            <label class="text-info" for="name">Tên sản phẩm</label>
                        </div>
                        <div class="col col-md-8">
                            <input type="text" class="form-control" id="tenSanPham" name="tenSanPham"
                                value="{{product.tenSanPham}}">
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col col-md-4">
                            <label class="text-info" for="name">Nhà sản xuất</label>
                        </div>
                        <div class="col col-md-8">
                            <input type="text" class="form-control" id="nhaSanXuat" name="nhaSanXuat"
                                value="{{product.nhaSanXuat}}">
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col col-md-4">
                            <label class="text-info" for="name">Loại sản phẩm</label>
                        </div>
                        <div class="col col-md-8">
                            <input type="text" class="form-control" id="loaiSanPham" name="loaiSanPham"
                                value="{{product.loaiSanPham}}">
                        </div>

                    </div>
                    

                    <div class="row form-group">
                        <div class="col col-md-4">
                            <label class="text-info" for="birthday">Giá</label>
                        </div>
                        <div class="col col-md-8">
                            <input type="text" class="form-control" id="giaSanPham" name="giaSanPham"
                                value="{{product.giaSanPham}}">
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col col-md-4">
                            <label class="text-info" for="phone">CPU</label>
                        </div>
                        <div class="col col-md-8">
                            <input type="text" class="form-control" id="cpu" name="cpu" value="{{product.configuration.cpu}}">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-4">
                            <label class="text-info" for="address">Ổ cứng</label>
                        </div>
                        <div class="col col-md-8">
                            <input type="text" class="form-control" id="hardDisk" name="hardDisk"
                                value="{{product.configuration.hardDisk}}">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-4">
                            <label class="text-info" for="company">Ram</label>
                        </div>
                        <div class="col col-md-8">
                            <input type="text" class="form-control" id="ram" name="ram" value="{{product.configuration.ram}}">
                        </div>

                    </div>

                    <div class="row form-group">
                        <div class="col col-md-4">
                            <label class="text-info" for="company">Màn hình</label>
                        </div>
                        <div class="col col-md-8">
                            <input type="text" class="form-control" id="screen" name="screen" value="{{product.configuration.screen}}">
                        </div>

                    </div>

                    <div class="row form-group">
                        <div class="col col-md-4">
                            <label class="text-info" for="company">Đồ họa</label>
                        </div>
                        <div class="col col-md-8">
                            <input type="text" class="form-control" id="graphic" name="graphic"
                                value="{{product.configuration.graphic}}">
                        </div>

                    </div>

                    <div class="row form-group">
                        <div class="col col-md-4">
                            <label class="text-info" for="company">Hệ điều hành</label>
                        </div>
                        <div class="col col-md-8">
                            <input type="text" class="form-control" id="os" name="os" value="{{product.configuration.os}}">
                        </div>

                    </div>

                    <div class="row form-group">
                        <div class="col col-md-4">
                            <label class="text-info" for="company">Màu sắc</label>
                        </div>
                        <div class="col col-md-8">
                            <input type="text" class="form-control" id="color" name="color" value="{{product.configuration.color}}">
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col col-md-4">
                            <label class="text-info" for="company">Số lượng sản phẩm</label>
                        </div>
                        <div class="col col-md-8">
                            <input type="text" class="form-control" id="soLuongSanPham" name="soLuongSanPham"
                                value="{{product.soLuongSanPham}}">
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col col-md-4">
                            <label class="text-info" for="company">Mô tả</label>
                        </div>
                        <div class="col col-md-8">
                            <input type="text" class="form-control" id="moTaSanPham" name="moTaSanPham"
                                value="{{product.moTaSanPham}}">
                        </div>

                    </div>
                
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal">Thoát</button>
                <button type="submit" class="btn btn-success">Lưu</button>
            </div>


        </div>
        </form>


    </div>
</div>